PORT=3000
NODE_ENV=development
JWT_SECRET=change-me-in-prod
JWT_EXPIRES_IN=7d
ADMIN_SEED_USERNAME=admin
ADMIN_SEED_PASSWORD=Admin123456

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=longroot
DB_USER=longroot_user
DB_PASSWORD=JZAZw7cX6FeyS27f

BINANCE_BASE_URL=https://api.binance.com
MARKET_SYNC_CRON=5 * * * *
MARKET_BOOTSTRAP_CANDLES=120
